/* chat.css */


.chat {
  padding: 10px;
  width: 100%;
  height: calc(100vh - 150px); /* Adjust height for space needed for input and buttons */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.chat::-webkit-scrollbar {
  display: none; /* Chrome */
}

.message-input-group {
  padding: 10px;
  border-top: 1px solid #ccc;
  
  background-color: white;
  display: flex;
  flex-direction: row;
}

.message-input-group .form-control {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.message-input-group .btn {
  border-radius: 20px;
  background-color: #f3693c; /* Button color */
  color: white;
  margin-left: 5px;
}

.message-input-group .btn:hover {
  background-color: #f38462; /* Lighter button color on hover */
}

/* Message card styles */
.message-card {
  padding: 5px;
  border-radius: 0.5rem;
  margin: 0.3rem 0;
  max-width: 50%;
  min-width: 20%;
  width: fit-content;
}

.message-card.own {
  background-color: #e8633a; /* Background color for own messages */
  color: white;
  align-self: flex-end; /* Align own messages to the right */
  
  text-align: right;
}

.message-card.others {
  background-color: #fcb49c; /* Background color for other messages */
  color: #212529;
  align-self: flex-start; /* Align other messages to the left */
  
  text-align: left;
}

.message-content {
  padding: 5px;
  
}

.message-timestamp {
  font-size: 0.8rem;
  color: #6c757d; /* Muted color for timestamps */
}

.message-sender {
  font-size: 0.8rem;
  color: #6c757d; /* Muted color for sender */
}
