#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.App-content {
    flex: 1;
    padding-top: 0rem;
    padding-left: 9rem;
    padding-right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
    margin-bottom: 2rem;
}

p {
    margin: 0;
}


.sidebar-item svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar-item img {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 2rem;
}


.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

/* CARDS */

.hover-card {
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


/* HEADER */

.header {
    background-color: var(--header-background);
    padding: 1rem;
    padding-left: 10rem;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.theme-toggle-button {
    margin: 0;
    margin-right: 2rem;
}