/* src/components/Header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #232323;
    color: #ffffff;
  }
  
  header h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  header button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #e85e22;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  header button:hover {
    background-color: rgb(255, 125, 82);
    color: rgb(44, 44, 44);
  }
  
  header button:focus {
    outline: none;
  }
  