/* src/index.css */

/* Remove margins and paddings from elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Set the default font and color */
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Center the content horizontally */
  #root {
    text-align: center;
  }
  
  /* Ensure full height for the html and body elements */
  html, body {
    height: 100%;
  }
  