/* Register.css */
.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-left-side {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}

.overlay-right-side {
    background: rgba(0, 0, 0, 0.8); /* Black see-through background */
    text-align: center;
    padding: 2rem;
}

/* Map container styling */
.map-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%; /* Relative width to take most of the available space */
    margin: 1rem auto 0; /* Center the map horizontally */
    border-radius: 1rem; /* Rounded corners on all sides */
    overflow: hidden; /* Ensure the content respects the border-radius */
    border: 2px solid rgb(57, 57, 57); /* Thicker border around the edges */
    position: relative;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove default border */
}

/* Form container styling */
.form-container {
    background: rgba(0, 0, 0, 0.8); /* Black see-through background */
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.form-container input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.form-container button {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    border: none;
    background-color: #f15a29;
    color: #fff;
    font-size: 1rem;
}

.form-container button:hover {
    background-color: #d84e21; /* Darker shade on hover */
}

.form-container p {
    margin-top: 1rem;
    color: #fff;
}

.footer-links {
  text-align: center;
  color: lightgray;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer-links a.footer-link {
  color: #f15a29; /* Adjust color as needed */
  text-decoration: none;
  margin: 0 5px;
  font-size: 1rem; /* Adjust font size as needed */
}

.footer-links a.footer-link:hover {
  text-decoration: underline;
  color: #d44a1a; /* Darker shade on hover */
}

.footer-links .mt-4 {
  margin-top: 1.5rem; /* Adjust margin as needed */
  font-size: 1rem; /* Smaller font size for the copyright text */
}
